<launch>
	
	<arg name="sensor_type" default="range_bearing" />
	
  <arg name="rviz_on" default="true" />

<!--
	Robot Information
-->
  <arg name="agent_prefix" default="robot" />
  <arg name="num_agents"   default="1" />

  <arg name="sensor_config_file" default="$(find phd_sensor)/config/$(arg sensor_type)_sensor.yaml" />

	<arg name="sensor_frame_id" default="sensor" />
	<arg name="base_frame_id"   default="base" />
  <arg name="odom_frame_id"   default="odom" />
  <arg name="global_frame_id" default="/map" />
  
<!--
  Target information
-->
  <arg name="num_target_types" default="3" />

  <arg name="target_prefix0" default="chair" />
	<arg name="num_targets0"   default="10" />
  <arg name="motion_model_file0"  value="$(find phd_filter)/config/static_motion_model.yaml" />
	
	<arg name="target_prefix1" default="table" />
	<arg name="num_targets1"   default="10" />
  <arg name="motion_model_file1"  value="$(find phd_filter)/config/static_motion_model.yaml" />
	
	<arg name="target_prefix2" default="person" />
	<arg name="num_targets2"   default="10" />
  <arg name="motion_model_file2"  value="$(find phd_filter)/config/grw_motion_model.yaml" />

<!--
	Sensor simulation
-->
	<include file="$(find phd_sensor)/launch/test_sensor.launch" pass_all_args="true" >
		<arg name="rviz_on" value="false" />
	</include>
	
<!--
  RVIZ
-->
  <group if="$(arg rviz_on)">
    <node name="rviz" pkg="rviz" type="rviz"
          args="--display-config=$(find phd_filter)/launch/robot0.rviz" />
  </group>

<!--
	Aggregate robot sensor measurements for PHD filter
-->
  <node name="sensor_aggregator" pkg="phd_sensor" type="$(arg sensor_type)_aggregator"
        output="screen" respawn="false" launch-prefix="">
    <param name="num_agents" value="$(arg num_agents)"/>
    <param name="agent_prefix" value="$(arg agent_prefix)"/>
    <param name="topic_name" value="measurements_throttle"/>
  </node>

  
<!--
	PHD filter
-->
  <node name="phd_filter" pkg="phd_filter" type="phd_filter_$(arg sensor_type)_node"
        output="screen" respawn="false" launch-prefix="">
		<remap from="map" to="/map" />
		<remap from="pose" to="gt_pose" />

		<param name="num_targets" value="10.0" />
		<param name="max_value" value="0.005" />
		<param name="width" value="40.0" />
		<param name="height" value="30.0" />
		<param name="grid_res" value="0.20" />

		<rosparam file="$(arg sensor_config_file)" ns="sensor" command="load" />
		<rosparam file="$(arg motion_model_file0)" ns="motion/$(arg target_prefix0)" command="load" />
		<rosparam file="$(arg motion_model_file1)" ns="motion/$(arg target_prefix1)" command="load" />
		<rosparam file="$(arg motion_model_file2)" ns="motion/$(arg target_prefix2)" command="load" />
	</node>

    <!--group ns="$(arg target_prefix2)0" >

		<node name="person_laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg target_prefix2)0/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg target_prefix2)0/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg target_prefix2)0/scan" />
    </node>
    
		<node name="person_goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="person_navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg target_prefix2)0/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.2" />
      <param name="w_max" value="1.2" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

        <node name="person_waypoints" pkg="hfn" type="person1_way_points" >
             <rosparam file="$(find hfn)/points/person1_waypoints.yaml" command="load" />
       </node>
	</group>

<group ns="$(arg target_prefix2)1" >

		<node name="person_laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg target_prefix2)1/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg target_prefix2)1/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg target_prefix2)1/scan" />
    </node>
    
		<node name="person_goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="person_navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg target_prefix2)1/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.2" />
      <param name="w_max" value="1.2" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

        <node name="person_waypoints" pkg="hfn" type="person2_way_points" >
              <rosparam file="$(find hfn)/points/person2_waypoints.yaml" command="load" />
       </node>
	</group>

<group ns="$(arg target_prefix2)2" >

		<node name="person_laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg target_prefix2)2/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg target_prefix2)2/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg target_prefix2)2/scan" />
    </node>
    
		<node name="person_goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="person_navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg target_prefix2)2/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.2" />
      <param name="w_max" value="1.2" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

        <node name="person_waypoints" pkg="hfn" type="person3_way_points" >
              <rosparam file="$(find hfn)/points/person3_waypoints.yaml" command="load" />
       </node>
	</group>

<group ns="$(arg target_prefix2)3" >

		<node name="person_laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg target_prefix2)3/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg target_prefix2)3/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg target_prefix2)3/scan" />
    </node>
    
		<node name="person_goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="person_navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg target_prefix2)3/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.2" />
      <param name="w_max" value="1.2" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

        <node name="person_waypoints" pkg="hfn" type="person4_way_points" >
              <rosparam file="$(find hfn)/points/person4_waypoints.yaml" command="load" />
       </node>
	</group>

<group ns="$(arg target_prefix2)4" >

		<node name="person_laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg target_prefix2)4/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg target_prefix2)4/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg target_prefix2)4/scan" />
    </node>
    
		<node name="person_goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="person_navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg target_prefix2)4/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.2" />
      <param name="w_max" value="1.2" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

        <node name="person_waypoints" pkg="hfn" type="person5_way_points" >
              <rosparam file="$(find hfn)/points/person5_waypoints.yaml" command="load" />
       </node>
	</group-->

	
	<group ns="$(arg agent_prefix)0" >
<!--
		Throttle measurements based on motion
-->
    <node name="sensor_throttle" pkg="phd_sensor" type="$(arg sensor_type)_throttle"
          output="screen" respawn="false">

      <param name="min_time" value="0.1"/>
      <param name="max_time" value="1.0"/>

      <param name="min_angle" value="$eval pi/4)"/> <!-- pi/4 radians -->
      <param name="min_step" value="2.0"/>
    </node>
    
<!--
    Enable robot navigation
-->
		<node name="laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg agent_prefix)0/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg agent_prefix)0/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg agent_prefix)0/scan" />
    </node>
    
		<node name="goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg agent_prefix)0/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.45" />
      <param name="w_max" value="0.65" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

    <node name="waypoints" pkg="hfn" type="robot0_way_points" >
      <rosparam file="$(find hfn)/points/robot0_waypoints.yaml" command="load" />
    </node>
	</group>

	<!--group ns="$(arg agent_prefix)1" >

    <node name="sensor_throttle" pkg="phd_sensor" type="$(arg sensor_type)_throttle"
          output="screen" respawn="false">

      <param name="min_time" value="0.1"/>
      <param name="max_time" value="1.0"/>

      <param name="min_angle" value="$eval pi/4)"/> 
      <param name="min_step" value="2.0"/>
    </node>

		<node name="laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg agent_prefix)1/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg agent_prefix)1/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg agent_prefix)1/scan" />
    </node>
    
		<node name="goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg agent_prefix)1/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.45" />
      <param name="w_max" value="0.65" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

    <node name="waypoints" pkg="hfn" type="robot1_way_points" >
      <rosparam file="$(find hfn)/points/robot1_waypoints.yaml" command="load" />
    </node>
	</group>

	<group ns="$(arg agent_prefix)2" >

    <node name="sensor_throttle" pkg="phd_sensor" type="$(arg sensor_type)_throttle"
          output="screen" respawn="false">

      <param name="min_time" value="0.1"/>
      <param name="max_time" value="1.0"/>

      <param name="min_angle" value="$eval pi/4)"/>
      <param name="min_step" value="2.0"/>
    </node>
    
		<node name="laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg agent_prefix)2/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg agent_prefix)2/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg agent_prefix)2/scan" />
    </node>
    
		<node name="goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg agent_prefix)2/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.45" />
      <param name="w_max" value="0.65" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

    <node name="waypoints" pkg="hfn" type="robot2_way_points" >
      <rosparam file="$(find hfn)/points/robot2_waypoints.yaml" command="load" />
    </node>
	</group>

	<group ns="$(arg agent_prefix)3" >

    <node name="sensor_throttle" pkg="phd_sensor" type="$(arg sensor_type)_throttle"
          output="screen" respawn="false">

      <param name="min_time" value="0.1"/>
      <param name="max_time" value="1.0"/>

      <param name="min_angle" value="$eval pi/4)"/>
      <param name="min_step" value="2.0"/>
    </node>

		<node name="laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg agent_prefix)3/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg agent_prefix)3/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg agent_prefix)3/scan" />
    </node>
    
		<node name="goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg agent_prefix)3/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.45" />
      <param name="w_max" value="0.65" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

    <node name="waypoints" pkg="hfn" type="robot3_way_points" >
      <rosparam file="$(find hfn)/points/robot3_waypoints.yaml" command="load" />
    </node>
	</group>

	<group ns="$(arg agent_prefix)4" >

    <node name="sensor_throttle" pkg="phd_sensor" type="$(arg sensor_type)_throttle"
          output="screen" respawn="false">

      <param name="min_time" value="0.1"/>
      <param name="max_time" value="1.0"/>

      <param name="min_angle" value="$eval pi/4)"/> 
      <param name="min_step" value="2.0"/>
    </node>

		<node name="laser" pkg="laser_simulator" type="laser_simulator"
          output="screen" respawn="false">
      <param name="frame_id" value="/$(arg agent_prefix)4/$(arg base_frame_id)"/>
      <param name="offset/x" value="0.0"/>
      <param name="offset/y" value="0.0"/>
      <param name="offset/z" value="0.2"/>

      <param name="noise_sd" value="0.003"/>

      <rosparam file="$(find laser_simulator)/models/UTM_30.yaml" command="load" />
      <rosparam file="$(find laser_simulator)/config/models.yaml" command="load" />

      <remap from="~map" to="/map"/>
      <remap from="~odom" to="/$(arg agent_prefix)4/gt_odom"/>
      <remap from="~pose_array" to="/pose_array"/>
      <remap from="~scan" to="/$(arg agent_prefix)4/scan" />
    </node>
    
		<node name="goal_to_action" pkg="hfn" type="goal_to_action.py" />

    <node name="navigation" pkg="hfn" type="hfn" respawn="false"
          output="screen" launch-prefix="" >
      <remap from="pose" to="gt_pose"/>
      <remap from="odom" to="gt_odom"/>
      <remap from="map" to="/map"/>

      <param name="base_frame_id" value="/$(arg agent_prefix)4/$(arg base_frame_id)" />
      <param name="map_frame_id" value="$(arg global_frame_id)" />

      <param name="robot_radius" value="0.23" />
      <param name="safety_margin" value="0.0" />

      <param name="v_opt" value="0.45" />
      <param name="w_max" value="0.65" />
      <param name="waypoint_thresh" value="0.2" />
      <param name="waypoint_spacing" value="0.4" />

      <param name="cost_occ_prob" value="0.0" />
      <param name="cost_occ_dist" value="0.0" />
      <param name="max_occ_dist" value="1.0" />
      <param name="lethal_occ_dist" value="0.2" />

      <param name="alpha_thresh" value="2.094" />
      <param name="path_margin" value="0.5" />
      <param name="allow_unknown_path" value="false" />

      <param name="goal_tolerance" value="0.5" />
      <param name="timeout" value="120" />
    </node>

    <node name="waypoints" pkg="hfn" type="robot4_way_points" >
      <rosparam file="$(find hfn)/points/robot4_waypoints.yaml" command="load" />
    </node>
	</group-->

</launch>
